body{
	font-family:Arial, sans-serif;
}

p{
	margin: 20px 0;
	padding: 0;
}

span{
	position:absolute;
	font:bold 1.5em Arial,sans-serif;
	color:#000;
	display: inline-block;
	top:6px;
	left:6px;
}
/*position:relative*/
/***********************************/
.parent, .child, .flex-container, .nav{
	position:relative;
}

/*box*/
/***********************************/
.box{
	padding: 10px;
	margin:0 13% 20px;
}

.box1{
	background: #D6FFCE;
}

.box2{
	background: #FDF2CC;
}

.box3{
	background: #C4EFFF;
}

.box4{
	background: #F1C9E6;
}

/*example 1*/
/***********************************/
.parent{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background: #7AFE84;
	height:300px;
}

.child{
	width: 150px;
	height: 150px;
	margin:auto;
	background: #647591;border:1px solid #647591;
}

/*example 2*/
/***********************************/
.flex-container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	padding-top: 40px;
	justify-content:space-around;
	background: #FBDE7D;
}

.flex-item{
	width:150px;
	height: 150px;
	line-height: 150px;
	text-align:center;
	color:#fff;
	background: #EF5F5F;
	margin:10px;
	font-weight:bold;
	font-size:2em;
}

/*example 3*/
/***********************************/
.nav{
	background: #4FCEFF;
	padding: 0;
	margin: 0;
	list-style:none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content:flex-end;
}

.nav a{
	padding: 1em;
	display: block;
	text-decoration: none;
	color:#fff;
}

.nav a:hover{
	background: #79DAFF;
}

@media all and (max-width:800px){
	span{
		display:none;
	}
	.nav{
		justify-content: center;
	}
}

@media all and (max-width:500px){
	.nav{
		flex-direction:column;
		text-align:center;
	}
	.nav li{
		border-bottom:1px solid #008FC6;
	}
}

/*example 4*/
/***********************************/

.wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
}

.header, .main, .aside, .footer{
	flex: 1 100%;
	border:1px solid #ccc;
	padding:20px;
}

.header{
	background: #939685;
	text-align:center;
}
.main{
	background: #CBCCC4;
}
.aside{
	text-align:center;
	background: #6A6C5E;
}
.footer{
	text-align:center;
	background: #545649;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 4 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

/*end*/
/***********************************/